@import "tailwindcss";
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  color: black;
}
input::placeholder {
  color: black;
  text-align: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #333;
  padding: 40px;
  border-radius: 10px;
}
button {
  background-color: white;
  padding: 5px;
  width:50%;
  margin: auto;
  border: none;
  cursor: pointer;
}
